.container {
    padding: 10px;
    border-block: 1px solid;
    writing-mode: horizontal-tb;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

header{
    padding-left: 80px;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    width:8em;
    height:3em;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.op {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    width:8em;
    height:3em;
    border-block: 1px solid;
    writing-mode: horizontal-tb;
    text-align: center;    
}
.pf {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    width:8em;
    height:3em;
    border-block: 1px solid;
    writing-mode: horizontal-tb;
    border-left: 1px solid black;
    text-align: center;   
}
.mu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    width: 8em;
    height:3em;
    text-align: center;
    border: 1px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.logo {
    padding-left: 10pt;
    margin-right: auto;    
}

.content1 {
    flex-direction: column; 
    display: flex;
    width: 1366;
    height: 578px;                
}
.content1 > div1 {
    display: flex; 
    border-bottom: 1px solid black;
    flex: 2; 
    align-items: center; 
    justify-content: center;
    font-size: 10pt;
    text-align: center;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}


.content1 > div2 {
    display: flex; 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    flex: 2; 
    align-items: left; 
    font-size: 10pt;
    text-align: left;
}
.content1 > div2 table {
    padding-left: 80px;
    text-align: center;
}
.content1 div2 table td {
    padding-left: 80px;
    text-align: center;
}
.lingkaran1 {   
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content2 {
    padding-left: 80px;
    padding-bottom: 30px;
    flex-direction: row; 
    display: flex;
}
.content2 > div {
    display: flex; 
    border: 1pt solid white;
    flex: 1; 
    align-content: left; 
    justify-content: left;
}
form {
    flex-direction: row; display: flex;
} 
form > table {
     display: flex; 
     flex: 1; 
     align-content: right; 
     justify-content: right;
}
.nama {
     height:25px;
     width:300px;
}
.date {
     height:25px;
     width:303px;
}
.textarea {
     height: 90px;
     width: 305px;
}
.tombol {
    height:25px;
    width:425px;
}
.content2 > div2 {
    display: flex;
    flex: 1;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 90px;
    border: 1px solid white;
}

.border {
    padding: 20px;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: top;
}
footer {
    border-top: 1px solid black;
    padding-right: 60px;
}    
footer > p {
    text-align: end;
}